<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reryka.android_plugin">

    <application>
        <service android:name="com.reryka.android_plugin.NotifyIntentService"></service>
        <service
            android:name="com.reryka.android_plugin.MediaPlayerService"
            android:enabled="true"></service>
    </application>

</manifest>